body {
  background-image: url('Chuck-Norris_1986.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-family: 'Press Start 2P';
  margin: 5rem auto;
  color: #ffd900;
}

label {
  font-family: 'Press Start 2P';
  color: #ffd900;
}

.get-jokes {
  font-family: 'Press Start 2P';
  color: #ffd900;
}

.get-jokes:hover {
  background-color: #ffd900;
}

.get-jokes:active {
  color: #ffd900;
  background-color: rgba(83, 83, 83);
}

#staticscroll {
  margin: 4rem auto 0rem;
  max-height: 40vh;
  overflow-y: auto;
  background-color: rgba(83, 83, 83, 0.65);
  box-shadow: 0px 2px 5px 3px rgba(255, 217, 0, 0.4);
  scrollbar-width: none;
  display: none;
}

.loader {
  display: none;
  padding-top: 2rem;
}

#loaderSvg {
  display: block;
  margin: auto;
}

.jokes {
  padding: 4rem 4rem;
}

li {
  color: #f6f6f6;
  font-family: 'Rubik';
  margin:2rem 0rem 0rem;
}

#signature {
  display: block;
  margin: 5rem auto 2rem;
  width: 50%;
}

#signature:hover {
  fill: #ffd900;
}

@media screen and (min-width:359px) {
  h1 {
    font-size: 3rem;
    margin: 3rem auto;
  }

  #signature {
    width: 75%;
  }
}

@media screen and (min-width:401px) {
  h1 {
    font-size: 4rem;
    margin: 4rem auto;
  }
}